<table border=" solid black">
	<input type="text" ng-model="search" placeholder="Search By Name" /><br>
	<thead>
		<th>Full Name</th>
		<th>Phone Number</th>
		<th>Level</th>
		<th>Status</th>
	</thead>
	<tbody>
		<tr ng-repeat="data in dataset| orderBy : myOrderBy |filter : search">
			<td>
				{{data.fullName}}
			</td>
			<td>
				{{data.phoneNumber}}
			</td>
			<td>
				{{data.level}}
			</td>
			<td>
				{{data.status}}
			</td>
			<td>
				<a href="#!update/{{data.studentId}}">Update</a>
			</td>
			<td>
				 <button ng-click="deleteRecord(data)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>