<form>
   <fieldset>
      <table>
         <tr>
            <th>
               <label>Full Name:</label>
            </th>
            <td><input type="text" ng-model="student.fullName"></td>
         </tr>
         <tr>
            <th>
               <label>Level:</label>
            </th>
            <td><input type="text" ng-model="student.level" ></td>
         </tr>
         <tr>
            <th>
               <label>phone Number:</label>
            </th>
            <td><input type="number" ng-model="student.phoneNumber"></td>
         </tr>
         <tr>
            <td>
               <input type="submit" ng-click="update(student)" value="Save">
            </td>
         </tr>
      </table>
   </fieldset>
</form>